body {
    //fonts
    font-family: 'Roboto';
    font-size: 16px;

    position: relative;
}

.container {
    display: block;

    width: 1260px;
    // width: 95%;
    

    &_nav {
        height: fit-content;
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_header {
        display: flex;
        align-items: center;
        height: fit-content;
        min-height: 127.5px;
    }

    &_main-content {
        display: flex;
        justify-content: space-between;
    }
}

.main-content {
    // height: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    
    margin-bottom: 80px;
    // display: flex;
    // justify-content: space-between;
}