.header {
  // display: flex;
  // align-items: center;

  // // padding-left: 5%;
  // // padding-right: 5%;

  min-height: 127.5px;

  &__logo {
    margin-right: auto;
  }

  &__cart {
    margin-left: 100px;
  }

}