.nav {

  display: flex;
  justify-content: center;

  min-height: 70px;
  // height: fit-content;

  background-color: $bg-red;

  height: fit-content;

  &__search-row {
    margin-right: 20px;
  }

}