.product {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #E0E0E0;
  padding: 15px;

  &__name {
    // margin-bottom: auto;
    margin: auto;
    text-align: center;
  }

  &__link {
    display: flex;
    height: 100%;
  }

  &__img {
    max-width: 100%;
    margin: auto;

    align-self: center;
  }
  &__code {
    color: $text-grey-light;
    margin-bottom: 15px;

    font-size: 13px;
  }

  &__cart-btn {
    display: block;
    width: fit-content;
  }

  &__top-area {
    width: 100%;
    display: flex;
    flex-direction: column;

    // height: 70%;
    height: 260px;
    margin-bottom: 20px;
  }

  &__bottom-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 10px;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
  }


}