.search {
  
  &__link {
    display: block;
    width: 20px;
    height: 20px;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

}

#close {
  display: none;
  opacity: 0;
  transition: opacity .1s;
}

#open {
  opacity: 1;
  transition: opacity .1s;
  fill: $white;
}