// .wrapper {
//   height: 570px;

//     width: 900px;
// }

.slider {

  width: 900px;
  height: 570px;
  box-shadow: 0 10px 6px -6px #777;/* Rectangle 6: */

  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 2px;

  position: relative;

  &__dots {
    position: absolute;
    // top: 95%;
    bottom: 45px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__images {
    position: relative;
    height: 570px;

    // width: 900px;
    overflow: hidden;


    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      // z-index: -2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $black;
      opacity: .3;
    }
  }


  &__list {
    white-space: nowrap;
    font-size: 0;

    position: absolute;
    top: 0;
    left: 0;
    transition: left .5s;
  }

  &__item {
    width: 900px;
    // height: 100%;
    height: 570px;
    overflow: hidden;
    display: inline-block;

    position: relative;
  }

  &__img {
    min-width: 900px;

  }

  &__tagline {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translate(0, 0%);
    z-index: 100;
    color: $white;
  }

  &__text {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    max-width: 270px;
    white-space: normal;
  }

  &__button {
    padding: 20px;
    background-color: $bg-red;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: background-color .5s;

    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    &:hover {
      background-color: $text-black
    }
  }

}