doctype html
html
    head
        meta(charset="UTF-8")
        //- ПРИБИТЬ ФУТЕР
        meta(name="viewport", content="1280")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="styles/main.min.css")
        block head
    body
        block variables
        block content 