extends ./base
block head
    title Главная страница
block variables
block content
  .wrapper
    .nav.nav_scrolled
      .container.container_nav
        ul.menu.nav__list
          li.menu__item 
            a(href="#").menu__link.menu__link_scrolled Главная
          li.menu__item
            a(href="#").menu__link.menu__link_scrolled Услуги
          li.menu__item
            a(href="#").menu__link.menu__link_scrolled Товары
          li.menu__item
            a(href="#").menu__link.menu__link_scrolled Бренды
          li.menu__item
            a(href="#").menu__link.menu__link_scrolled Доставка и оплата
          li.menu__item 
            a(href="#").menu__link.menu__link_scrolled О компании
        .cart.search__cart
            a(href="#").cart__goods#nav-cart
              svg.cart__icon
                use(xlink:href=`images/sprite.svg#cart`)
              .cart__num 2
    header.header
      .container.container_header
        .logo.header__logo
          a(href="#").logo__link
            img(src="images/logo.png").logo__icon
            .logo__text
              .logo__name дасстрой
              .logo__descr Внимание к деталям
        ul.contacts.header__contacts
          li.contacts__row
            svg.contacts__icon
              use(xlink:href=`images/sprite.svg#phone`)
            .contacts__number +7 (800) 555-35-35
          li.contacts__row
            .contacts__descr 7 дней в неделю с 9:00 до 19:00
        .cart.header__cart
            a(href="#").cart__link
              .cart__goods
                .cart__num 2
                svg.cart__icon
                  use(xlink:href=`images/sprite.svg#cart`)
              .cart__descr Ваша корзина
    nav.nav
      .container.container_nav
        ul.menu.nav__list#menu
          li.menu__item 
            a(href="#").menu__link.active Главная
          li.menu__item
            a(href="#").menu__link Услуги
          li.menu__item
            a(href="#").menu__link Товары
          li.menu__item
            a(href="#").menu__link Бренды
          li.menu__item
            a(href="#").menu__link Доставка и оплата
          li.menu__item 
            a(href="#").menu__link О компании
        form.search-row.nav__search-row
            svg.search-row__icon
              use(xlink:href=`images/sprite.svg#search`)
            input(type="text", placeholder="Введите ключевое слово").search-row__input
            button(type="submit").search-row__btn#search Поиск
        .search.nav__search
          a(href="#").search__link#open
            svg.search__icon
              use(xlink:href=`images/sprite.svg#search`)
          a(href="#").search__link#close
            svg.search__icon
              use(xlink:href=`images/sprite.svg#cross`)
    .main-content
      .container.container_main-content
        aside.aside
          .categories.aside__categories
            .categories__title Категории
            ul.categories__list
              li.categories__item.category
                a.category__link(href="#")
                  svg.category__icon
                    use(xlink:href=`images/sprite.svg#tile`)
                  span.category__name Плитка
              li.categories__item.category
                a.category__link(href="#")
                  svg.category__icon
                    use(xlink:href=`images/sprite.svg#tools`)
                  span.category__name Инструменты
              li.categories__item.category
                a.category__link(href="#")
                  svg.category__icon
                    use(xlink:href=`images/sprite.svg#paints`)
                  span.category__name Смеси
              li.categories__item.category
                a.category__link(href="#")
                  svg.category__icon
                    use(xlink:href=`images/sprite.svg#wall`)
                  span.category__name Краски
              li.categories__item.category
                a.category__link(href="#")
                  svg.category__icon
                    use(xlink:href=`images/sprite.svg#tile`)
                  span.category__name Плитка
              li.categories__item.category
                a.category__link(href="#")
                  svg.category__icon
                    use(xlink:href=`images/sprite.svg#tools`)
                  span.category__name Инструменты
              li.categories__item.category
                a.category__link(href="#")
                  svg.category__icon
                    use(xlink:href=`images/sprite.svg#paints`)
                  span.category__name Смеси
              li.categories__item.category
                a.category__link(href="#")
                  svg.category__icon
                    use(xlink:href=`images/sprite.svg#wall`)
                  span.category__name Краски
          form.mail
            .mail__text
              .mail__title.title Рассылка
              .mail__descr Подпишитесь, чтобы оставаться в курсе наших новостей и акций!
            .mail__input-area
              input.mail__input(placeholder="E-mail")
              svg.mail__icon
                use(xlink:href=`images/sprite.svg#mail`)
            button(type="submit").mail_btn.btn Подписаться
        .content
          .slider.content__slider
            .slider__images
              ul.slider__list
                li.slider__item.active
                  img.slider__img(src="images/house.jpg", alt="")
                  .slider__tagline
                    .slider__text Построй свой дом сам
                    a(href="#").slider__button Начать сейчас!
                li.slider__item
                  img.slider__img(src="images/floor.jpg", alt="")
                li.slider__item
                  img.slider__img(src="images/pile.jpg", alt="")
                li.slider__item
                  img.slider__img(src="images/wall.jpg", alt="")
                li.slider__item
                  img.slider__img(src="images/wallpaper.jpg", alt="")
            ul.slider__dots.dots
              li.dots__item.active
                a.dots__link(href="#")
              li.dots__item
                a.dots__link(href="#")
              li.dots__item
                a.dots__link(href="#")
              li.dots__item
                a.dots__link(href="#")
              li.dots__item
                a.dots__link(href="#")
          .goods
            .goods__title.title Новинки
            ul.goods__list
              li.goods__item.product
                .product__top-area
                  .product__code
                    span.product__code-text Код 
                    span.product__code-num 123123
                  img.product__img(src="images/dver.png", alt="")
                .product__name Дверное полотно
                .product__bottom-area
                  .product__text
                    //- span.product__name Дверное полотноДверное полотноДверное полотноДверное полотно
                    span.product__price.price 2999
                  a(href="#").product__cart-btn.btn.btn_cart В корзину
              li.goods__item.product
                .product__top-area
                  .product__code
                    span.product__code-text Код 
                    span.product__code-num 123123
                  img.product__img(src="images/dver.png", alt="")
                .product__name Дверное полотно
                .product__bottom-area
                  .product__text
                    //- span.product__name Дверное полотно
                    span.product__price.price 2999
                  a(href="#").product__cart-btn.btn.btn_cart В корзину
              li.goods__item.product
                .product__top-area
                  .product__code
                    span.product__code-text Код 
                    span.product__code-num 123123
                  img.product__img(src="images/dver.png", alt="")
                .product__name Дверное полотно
                .product__bottom-area
                  .product__text
                    //- span.product__name Дверное полотно
                    span.product__price.price 2999
                  a(href="#").product__cart-btn.btn.btn_cart В корзину
              li.goods__item.product
                .product__top-area
                  .product__code
                    span.product__code-text Код 
                    span.product__code-num 123123
                  img.product__img(src="images/dver.png", alt="")
                .product__name Дверное полотно
                .product__bottom-area
                  .product__text
                    //- span.product__name Дверное полотно
                    span.product__price.price 2999
                  a(href="#").product__cart-btn.btn.btn_cart В корзину
              li.goods__item.product
                .product__top-area
                  .product__code
                    span.product__code-text Код 
                    span.product__code-num 123123
                  img.product__img(src="images/dver.png", alt="")
                .product__name Дверное полотно
                .product__bottom-area
                  .product__text
                    //- span.product__name Дверное полотно
                    span.product__price.price 2999
                  a(href="#").product__cart-btn.btn.btn_cart В корзину
              li.goods__item.product
                .product__top-area
                  .product__code
                    span.product__code-text Код 
                    span.product__code-num 123123
                  img.product__img(src="images/dver.png", alt="")
                .product__name Дверное полотно
                .product__bottom-area
                  .product__text
                    //- span.product__name Дверное полотно
                    span.product__price.price 2999
                  a(href="#").product__cart-btn.btn.btn_cart В корзину
              li.goods__item.product
                .product__top-area
                  .product__code
                    span.product__code-text Код 
                    span.product__code-num 123123
                  img.product__img(src="images/dver.png", alt="")
                .product__name Дверное полотно
                .product__bottom-area
                  .product__text
                    //- span.product__name Дверное полотно
                    span.product__price.price 2999
                      .price__icon
                  a(href="#").product__cart-btn.btn.btn_cart В корзину
              li.goods__item.product
                .product__top-area
                  .product__code
                    span.product__code-text Код 
                    span.product__code-num 123123
                  img.product__img(src="images/dver.png", alt="")
                .product__name Дверное полотно
                .product__bottom-area
                  .product__text
                    //- span.product__name Дверное полотно
                    span.product__price.price 2999
                  a(href="#").product__cart-btn.btn.btn_cart В корзину
    footer.footer
      .container.container_footer
        .footer__advantages
          ul.advantages
            li.advantages__item
              svg.advantages__icon
                use(xlink:href=`images/sprite.svg#assortment`)
              .advantages__text
                .advantages__title.title Ассортимент
                .advantages__descr В наличии более 5000 наименований
            li.advantages__item
              svg.advantages__icon
                use(xlink:href=`images/sprite.svg#quality`)
              .advantages__text
                .advantages__title.title Качество
                .advantages__descr Гарантия качества продукции
            li.advantages__item
              svg.advantages__icon
                use(xlink:href=`images/sprite.svg#support`)
              .advantages__text
                .advantages__title.title Поддержка
                .advantages__descr Дружелюбная и отзывчивая поддержка
            li.advantages__item
              svg.advantages__icon
                use(xlink:href=`images/sprite.svg#delivery`)
              .advantages__text
                .advantages__title.title Доставка
                .advantages__descr Всегда бесплатная доставка!
        .footer__info
          .info
            .info__right-col
              .logo.info__logo
                a(href="#").logo__link
                  img(src="images/logo.png").logo__icon
                  .logo__text
                    .logo__name.logo__name_info дасстрой
                    .logo__descr.logo__descr_info Внимание к деталям
              ul.socials
                li.socials__item
                  a.socials__link(href="#")
                    svg.socials__icon
                      use(xlink:href=`images/sprite.svg#vk`)
                li.socials__item
                  a.socials__link(href="#")
                    svg.socials__icon
                      use(xlink:href=`images/sprite.svg#fb`)
                li.socials__item
                  a.socials__link(href="#")
                    svg.socials__icon
                      use(xlink:href=`images/sprite.svg#inst`)
            .info__left-col
              .about-info
                .about-info__title.title.title_info Информация
                ul.about-info__list
                  li.about-info__item 
                    a(href="#").about-info__link О нас
                  li.about-info__item  
                    a(href="#").about-info__link Доставка и оплата
                  li.about-info__item   
                    a(href="#").about-info__link Связаться с нами
                  li.about-info__item   
                    a(href="#").about-info__link Карта сайта
                  li.about-info__item   
                    a(href="#").about-info__link Отзывы
              .about-contacts
                .about-contacts__title.title.title_info Контакты
                ul.about-contacts__list
                  li.about-contacts__item Адрес: ул.Профессора Попова, д.1
                  li.about-contacts__item Санкт-Петербург
                  li.about-contacts__item Телефон: +7 (800) 555-35-35
                  li.about-contacts__item 7 дней в неделю с 9:00 до 19:00
                  li.about-contacts__item.email
                    span.email__text E-mail: 
                    a(href="#").email__mail info@dasstroi.com


    .copyright
      span.copyright__name ДАССТРОЙ © 2018.
      span.copyright__rights Все права сохранены
    script(src="scripts/main.bundle.js")
